NEWSDATA_API_KEY=your_newsdata_api_key_here
OPENROUTER_API_KEY=your_openrouter_api_key_here
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=haroon.mirza040602@gmail.com
SMTP_PASS=vxaa zlqp cotu styu
RECEIVER_EMAIL=recipient1@domain.com,recipient2@domain.com
